@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/**
Variables
**/
// Color Variables
$yellow-light: #ffc85a;
$yellow-lighter: #f9c85a;
$blue: #0062ff;
$light-200: #f8f8f8;
$light-150: #f7f7f7;
$black-450: #979797;
$black-500: #7b7b7b;
$black-700: #222222;
$black-750: #252525;
$light-400: #7c7c7c;

// Font Weight Variables
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-100: 100;
$font-weight-200: 200;

// Font Family Variables
$inter-font-family: 'Inter', sans-serif;

html,
body {
  overflow-x: hidden;
  clear: both;
  color: $black-700;
  font-family: $inter-font-family;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: linear-gradient(to right, #6366f1, #a855f7, #ec4899);
  zoom: 90%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.form-select {
  max-width: 110px;
  cursor: pointer;
}
.board {
  background-color: $light-200;
  width: 300px;
  height: 300px;
  margin: auto;
  position: relative;
  display: grid;
  gap: 0px 0px;
}
.board .box {
  border: 1px solid #7b7b7b;
  cursor: pointer;
  color: #979797;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.board .box[data-value='X'] {
  color: #14b8a6;
}

.board .box[data-value='O'] {
  color: #8b5cf6;
}

.line {
  width: 2px;
  height: 2px;
  background: #ec4899;
  border-radius: 3px;
  transition: width .5s ease;
  position: absolute;
}

.display-2, .display-4 {
  font-weight: 700;
}

@media (min-width: 640px) and (max-width: 960px) {
  .board {
    width: 400px;
    height: 400px;
  }
  .board .box {
    font-size: 2rem;
  }
}
@media screen and (min-width: 960px) {
  .board {
    width: 600px;
    height: 600px;
  }
  .board .box {
    font-size: 3rem;
  }
}
